#title {
  margin-top: 230px;
  height: 500px;
  color: $blue;
  font-weight: 100;
  text-shadow: 1px 1px 2px $offwhite;
  font-size: 1.4em;
}
#banner1 {
  padding-top: 50px;
  background-image: url('./../images/computer.jpeg');
  background-position: center;
  background-size: cover;
  height: 400px;
  font-weight: 400;
  font-size: 1.6em;
  color: $blue;
  text-shadow: 1px 1px 2px $white;
}
#banner2 {
  padding-top: 50px;
  background-image: url('./../images/flower.jpeg');
  background-position: center;
  background-size: cover;
  height: 400px;
  font-weight: 400;
  font-size: 1.6em;
  color: $blue;
  text-shadow: 1px 1px 2px $white;
}
#banner3 {
  padding-top: 50px;
  background-image: url('./../images/binoculars.JPG');
  background-position: center;
  background-size: cover;
  height: 400px;
  font-weight: 400;
  font-size: 1.4em;
  color: $blue;
  text-shadow: 1px 1px 2px $white;
}
