extends layout
block content
  div.banner#title
    .container
      .section
        h1 Steve Abrams
        h3 Web Development and the Whole Stack
        if info
          h4.info= info
  div.banner#banner1    
    .container
      .section
        h2 My Portfolio
        h4 I believe that user experience is everything.  The most advanced site in the world is useless if no one wants to use it.
  .container
    .section
      div.portfolio
        h3 Check out my code at 
          a(href='https://github.com/sabrams86' target='_blank') github
        a(href='https://stormy-shore-6413.herokuapp.com/' target='_blank')
          .snippet
            h3 FriendlyGear
            p Rent outdoor gear or rent out your own gear to others
        a(href='http://flashcodes.abramswebdevelopment.com/' target='_blank')
          .snippet
            h3 FlashCodes
            p A site for creating and playing quizzes
        a(href='https://stark-caverns-9969.herokuapp.com/' target='_blank')
          .snippet
            h3 Squirrel
            p Help Squirrel get back to his home at the top of the tree
        a(href='https://hidden-fortress-3498.herokuapp.com/' target='_blank')
          .snippet
            h3 Javascipt Filters
            p A proof of concept project centered around filtering with AJAX calls
        a(href='http://steven-abrams-api-intro.s3-website-us-west-2.amazonaws.com/' target='_blank')
          .snippet
            h3 API Demo
            p A proof of concept project centered around API calls
  div.banner#banner2
    .container
      h2 About Me
      h4 Hobbiest Turned Professional
  .container
    div.about
      p I used to be an engineer.  One day I found myself wanting to help my company re-organize their data by implementing a new database system.  After some research and advice from a friend, I decided to try to implement a web based database using Ruby on Rails.
      p I spent all of my free time on nights and weekends learning the basics and going through all sorts of tutorials I finally was able to successfully build the 
        a(href='https://github.com/sabrams86/engdb' target='_blank') database 
        | and deploy it locally on the company's network.  Over the next year I realized that my favorite thing I had ever worked on (professionally or academically) was building the database.
      p A friend told me about 
        a(href='http://www.galvanize.com/' target='_blank') Galvanize 
        | and said I should check out their 24 week Full Stack program.  I decided that the timing was right, so I applied, was accepted and am graduating from the full stack program in October 2015 at which point I will be trained for Junior to Mid-level full stack jobs using MEAN (MongoDB, Expressjs, Angular, Nginx) and Rails (PosgreSQL, Rails, React, Apache) stacks.
      p I absolutely love the tech scene and try my best to keep of with the hottest trends, gadgets, and happenings in the tech community.  I frequent the Denver Ruby and Node.js meetups, as well as participating in other Galvanize and tech community events.
  div.banner#banner3
    .container
      h2 Contact Me
      h4 Let's chat
  .container      
    div.contact
      h3 Connect with me at 
        a(href='https://www.linkedin.com/in/stevenabrams86' target='_blank') Linkedin
      h4 or feel free to send me a message here:
      form.contactform(method='post' action='/send')
        .row
          label(for='name') Your Name
        .row
          input#name(type='text' name='name')
        .row
          label(for='email') Your Email
        .row
          input#email(type='text' name='email')
        .row
          label(for='subject') Subject
        .row
          input#subject(type='text' name='subject')
        .row
          label(for='body') Message
        .row
          textarea#body(name='body' rows='8')
        .row
          button#emailbutton(type='submit') Send
