extends ./../layout

block content
  #content
  
block javascripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="/javascripts/components/posts.js.jsx" type="text/jsx")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
